{% extends "layout.html.twig" %}

{% block title %}
    {{ 'advert.update'|trans }} - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>{{ 'advert.update'|trans|capitalize }}</h2>

    {{ include("advert/form.html.twig") }}

    <p>
        {{ 'advert.update.mention'|trans }}
        Vous éditez une annonce déjà existante, merci de ne pas changer
        l'esprit général de l'annonce déjà publiée.
    </p>

    <p>
        <a href="{{ path('advert.show', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ 'advert.back'|trans }}
        </a>
    </p>

{% endblock %}